/* Apply Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General body styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Hide scrollbars */
body::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

.desktop-container {
  display: flex;
  height: 100vh;
  width: 500vw;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

.mobile-container {
  display: block;
  width: 100vw;
  overflow-y: auto;
}

.section {
  scroll-snap-align: start;
  flex: 0 0 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-family: 'Comic Neue', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.contact-me {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.linkedin-button {
  border-radius: 50%;
  background-color: #0077b5;
  color: white;
  border: none;
  padding: 20px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.linkedin-button:hover {
  background-color: #005582;
}
